<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <li><a class="sidebar-brand d-flex border-bottom align-items-center " href="index.html">
        <div class="sidebar-brand-icon mr-2">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </div>
        <div class="sidebar-brand-text ">Omi Kumar </div>
    </a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link " >
            <i class="fa fa-home"></i>
            <span>Dashbaord</span>
        </a>
       
    </li>
    <li class="nav-item">
        <a  [routerLink]="['/register']" class="nav-link " >
            <i class="fa fa-home"></i>
            <span>Register</span>
        </a>
       
    </li>
    <li class="nav-item">
        <a class="nav-link " >
            <i class="fa fa-home"></i>
            <span>Users</span>
        </a>
       
    </li>
    <li class="nav-item">
        <a class="nav-link " >
            <i class="fa fa-home"></i>
            <span>Settings</span>
        </a>
       
    </li>
</ul>